---
import { type Post } from "@/utils/content";
import SectionHeader from "@/components/SectionHeader.astro";
import PostFeedItem, { type PostFeedVariant } from "./PostFeedItem.astro";

export type { PostFeedVariant };

type Props = {
  posts: Post[];
  variant?: PostFeedVariant;
  sectionTitle?: string;
  sectionDesc?: string;
};

const {
  posts,
  variant = "archive",
  sectionTitle,
  sectionDesc,
} = Astro.props;
---

<section>
  <SectionHeader title={sectionTitle} subheading={sectionDesc} />

  {variant === "featured" && (
    <div>
      {posts.map((post) => (
        <PostFeedItem post={post} variant="featured" />
      ))}
    </div>
  )}

  {variant === "timeline" && (
    <div class="timeline">
      {posts.map((post) => (
        <PostFeedItem post={post} variant="timeline" />
      ))}
    </div>
  )}

  {variant === "archive" && (
    <ul class="space-y-1">
      {posts.map((post) => (
        <li>
          <PostFeedItem post={post} variant="archive" />
        </li>
      ))}
    </ul>
  )}
</section>