---
import { type Post } from "@/utils/content";
import { calculateReadingTime } from "@/utils/text";
import siteConfig from "@/site.config";

type Props = {
  post: Post;
  showReadingTime?: boolean;
  showLanguage?: boolean;
  accentCategory?: boolean;
};

const {
  post,
  showReadingTime = false,
  showLanguage = false,
  accentCategory = false,
} = Astro.props;

const { category, published, updated, language } = post.data;

const displayDate = new Intl.DateTimeFormat("en", {
  month: "short",
  year: "numeric",
}).format(updated ?? published);

const readingTime =
  siteConfig.showReadingTime && showReadingTime
    ? calculateReadingTime(post.body ?? "").text
    : null;
---

<div class="post-meta flex flex-wrap align-middle gap-2 text-xs text-muted-foreground">
  {
    category && (
      <span
        class:list={[
          "uppercase",
          { "text-accent": accentCategory },
        ]}
      >
        {category}
      </span>
    )
  }

  <time
    datetime={published.toISOString()}
    class="tabular-nums italic"
  >
    {displayDate}
  </time>

  {
    readingTime && (
      <span class="italic">
        {readingTime}
      </span>
    )
  }

  {
    showLanguage && language && (
      <span class="uppercase">
        {language}
      </span>
    )
  }
</div>

<style>
  .post-meta > * + *::before {
    content: "·";
    margin-right: .5rem;
  }
</style>