---
import siteConfig from "@/site.config";
---

<footer class="border-border mt-12 border-t py-8 ">
  <div class="app-layout">
    <div class="flex flex-col items-center justify-between gap-4 text-sm sm:flex-row sm:items-start">
      <!-- Copyright -->
      <div class="order-last flex flex-col sm:text-left text-center text-muted-foreground gap-2">
        <p class="font-code tabular-nums">
        &copy; {new Date().getFullYear()}{" "}
        {siteConfig.author}
        </p>
        <p class="text-muted-foreground/70">
          {siteConfig.footerCredits}
        </p>
      </div>

      <!-- Social Links -->
      {
        siteConfig.footerLinks.length > 0 && (
          <div class="sm:order-last">
            <nav
              aria-label="Social links"
              class="flex flex-wrap text-sm font-code gap-4"
            >
              {siteConfig.footerLinks.map((item) => (
                <a
                  href={item.url}
                  target="_blank"
                  rel="noopener noreferrer me"
                  aria-label={`${item.title} (opens in new tab)`}
                  class="text-muted-foreground hover:text-foreground transition-colors"
                >
                  {item.title}
                </a>
              ))}
            </nav>
          </div>
        )
      }
    </div>
  </div>
</footer>